In [24]:
import pandas as pd
import numpy as np
# Load dataset
Daily_Data = pd.read_csv("daily-minimum-temperatures-in-me.csv")
print(Daily_Data.head())

       Date  Value
0  1981/1/1   20.7
1  1981/1/2   17.9
2  1981/1/3   18.8
3  1981/1/4   14.6
4  1981/1/5   15.8

In [38]:
# ----------------------Data preprocessing-----------------------
## Part 1 Processing data style
# Tranverse the dates to datetime style
Daily_Data["Date"] = pd.to_datetime(Daily_Data["Date"], errors='coerce')
# Separate the year from dates
Daily_Data["Year"] = Daily_Data["Date"].dt.year
# Only keep month-day data
Daily_Data["Date"] = Daily_Data["Date"].dt.strftime("%m-%d")
## Part 2 Processing value style
Daily_Data["Value"] = Daily_Data["Value"].astype(float)
# Rearrange the order
Daily_Data = Daily_Data[["Year", "Date", "Value"]]
print(Daily_Data.head())

   Year   Date  Value
0  1981  01-01   20.7
1  1981  01-02   17.9
2  1981  01-03   18.8
3  1981  01-04   14.6
4  1981  01-05   15.8

In [39]:
Year = Daily_Data['Year'].unique()
DictYear = [item for item in Year]
Date = Daily_Data['Date'].unique()
DictDate = [item for item in Date]
print(DictYear)
print(DictDate)

[1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990]
['01-01', '01-02', '01-03', '01-04', '01-05', '01-06', '01-07', '01-08', '01-09', '01-10', '01-11', '01-12', '01-13', '01-14', '01-15', '01-16', '01-17', '01-18', '01-19', '01-20', '01-21', '01-22', '01-23', '01-24', '01-25', '01-26', '01-27', '01-28', '01-29', '01-30', '01-31', '02-01', '02-02', '02-03', '02-04', '02-05', '02-06', '02-07', '02-08', '02-09', '02-10', '02-11', '02-12', '02-13', '02-14', '02-15', '02-16', '02-17', '02-18', '02-19', '02-20', '02-21', '02-22', '02-23', '02-24', '02-25', '02-26', '02-27', '02-28', '03-01', '03-02', '03-03', '03-04', '03-05', '03-06', '03-07', '03-08', '03-09', '03-10', '03-11', '03-12', '03-13', '03-14', '03-15', '03-16', '03-17', '03-18', '03-19', '03-20', '03-21', '03-22', '03-23', '03-24', '03-25', '03-26', '03-27', '03-28', '03-29', '03-30', '03-31', '04-01', '04-02', '04-03', '04-04', '04-05', '04-06', '04-07', '04-08', '04-09', '04-10', '04-11', '04-12', '04-13', '04-14', '04-15', '04-16', '04-17', '04-18', '04-19', '04-20', '04-21', '04-22', '04-23', '04-24', '04-25', '04-26', '04-27', '04-28', '04-29', '04-30', '05-01', '05-02', '05-03', '05-04', '05-05', '05-06', '05-07', '05-08', '05-09', '05-10', '05-11', '05-12', '05-13', '05-14', '05-15', '05-16', '05-17', '05-18', '05-19', '05-20', '05-21', '05-22', '05-23', '05-24', '05-25', '05-26', '05-27', '05-28', '05-29', '05-30', '05-31', '06-01', '06-02', '06-03', '06-04', '06-05', '06-06', '06-07', '06-08', '06-09', '06-10', '06-11', '06-12', '06-13', '06-14', '06-15', '06-16', '06-17', '06-18', '06-19', '06-20', '06-21', '06-22', '06-23', '06-24', '06-25', '06-26', '06-27', '06-28', '06-29', '06-30', '07-01', '07-02', '07-03', '07-04', '07-05', '07-06', '07-07', '07-08', '07-09', '07-10', '07-11', '07-12', '07-13', '07-14', '07-15', '07-16', '07-17', '07-18', '07-19', '07-20', '07-21', '07-22', '07-23', '07-24', '07-25', '07-26', '07-27', '07-28', '07-29', '07-30', '07-31', '08-01', '08-02', '08-03', '08-04', '08-05', '08-06', '08-07', '08-08', '08-09', '08-10', '08-11', '08-12', '08-13', '08-14', '08-15', '08-16', '08-17', '08-18', '08-19', '08-20', '08-21', '08-22', '08-23', '08-24', '08-25', '08-26', '08-27', '08-28', '08-29', '08-30', '08-31', '09-01', '09-02', '09-03', '09-04', '09-05', '09-06', '09-07', '09-08', '09-09', '09-10', '09-11', '09-12', '09-13', '09-14', '09-15', '09-16', '09-17', '09-18', '09-19', '09-20', '09-21', '09-22', '09-23', '09-24', '09-25', '09-26', '09-27', '09-28', '09-29', '09-30', '10-01', '10-02', '10-03', '10-04', '10-05', '10-06', '10-07', '10-08', '10-09', '10-10', '10-11', '10-12', '10-13', '10-14', '10-15', '10-16', '10-17', '10-18', '10-19', '10-20', '10-21', '10-22', '10-23', '10-24', '10-25', '10-26', '10-27', '10-28', '10-29', '10-30', '10-31', '11-01', '11-02', '11-03', '11-04', '11-05', '11-06', '11-07', '11-08', '11-09', '11-10', '11-11', '11-12', '11-13', '11-14', '11-15', '11-16', '11-17', '11-18', '11-19', '11-20', '11-21', '11-22', '11-23', '11-24', '11-25', '11-26', '11-27', '11-28', '11-29', '11-30', '12-01', '12-02', '12-03', '12-04', '12-05', '12-06', '12-07', '12-08', '12-09', '12-10', '12-11', '12-12', '12-13', '12-14', '12-15', '12-16', '12-17', '12-18', '12-19', '12-20', '12-21', '12-22', '12-23', '12-24', '12-25', '12-26', '12-27', '12-28', '12-29', '12-30', '12-31']

In [40]:
uYear = Daily_Data['Year'].unique()
DictYear = {item:i+1 for i, item in enumerate(uYear)}
uDate = Daily_Data['Date'].unique()
DictDate = {item:i+1 for i, item in enumerate(uDate)}
Results = []
for index, row in Daily_Data.iterrows():
    Results.append([DictYear[row["Year"]], DictDate[row["Date"]], row["Value"]])

for i in Results:
    print("[%d, %d, %.1f]," % (i[0], i[1], i[2]))

[1, 1, 20.7],
[1, 2, 17.9],
[1, 3, 18.8],
[1, 4, 14.6],
[1, 5, 15.8],
[1, 6, 15.8],
[1, 7, 15.8],
[1, 8, 17.4],
[1, 9, 21.8],
[1, 10, 20.0],
[1, 11, 16.2],
[1, 12, 13.3],
[1, 13, 16.7],
[1, 14, 21.5],
[1, 15, 25.0],
[1, 16, 20.7],
[1, 17, 20.6],
[1, 18, 24.8],
[1, 19, 17.7],
[1, 20, 15.5],
[1, 21, 18.2],
[1, 22, 12.1],
[1, 23, 14.4],
[1, 24, 16.0],
[1, 25, 16.5],
[1, 26, 18.7],
[1, 27, 19.4],
[1, 28, 17.2],
[1, 29, 15.5],
[1, 30, 15.1],
[1, 31, 15.4],
[1, 32, 15.3],
[1, 33, 18.8],
[1, 34, 21.9],
[1, 35, 19.9],
[1, 36, 16.6],
[1, 37, 16.8],
[1, 38, 14.6],
[1, 39, 17.1],
[1, 40, 25.0],
[1, 41, 15.0],
[1, 42, 13.7],
[1, 43, 13.9],
[1, 44, 18.3],
[1, 45, 22.0],
[1, 46, 22.1],
[1, 47, 21.2],
[1, 48, 18.4],
[1, 49, 16.6],
[1, 50, 16.1],
[1, 51, 15.7],
[1, 52, 16.6],
[1, 53, 16.5],
[1, 54, 14.4],
[1, 55, 14.4],
[1, 56, 18.5],
[1, 57, 16.9],
[1, 58, 17.5],
[1, 59, 21.2],
[1, 60, 17.8],
[1, 61, 18.6],
[1, 62, 17.0],
[1, 63, 16.0],
[1, 64, 13.3],
[1, 65, 14.3],
[1, 66, 11.4],
[1, 67, 16.3],
[1, 68, 16.1],
[1, 69, 11.8],
[1, 70, 12.2],
[1, 71, 14.7],
[1, 72, 11.8],
[1, 73, 11.3],
[1, 74, 10.6],
[1, 75, 11.7],
[1, 76, 14.2],
[1, 77, 11.2],
[1, 78, 16.9],
[1, 79, 16.7],
[1, 80, 8.1],
[1, 81, 8.0],
[1, 82, 8.8],
[1, 83, 13.4],
[1, 84, 10.9],
[1, 85, 13.4],
[1, 86, 11.0],
[1, 87, 15.0],
[1, 88, 15.7],
[1, 89, 14.5],
[1, 90, 15.8],
[1, 91, 16.7],
[1, 92, 16.8],
[1, 93, 17.5],
[1, 94, 17.1],
[1, 95, 18.1],
[1, 96, 16.6],
[1, 97, 10.0],
[1, 98, 14.9],
[1, 99, 15.9],
[1, 100, 13.0],
[1, 101, 7.6],
[1, 102, 11.5],
[1, 103, 13.5],
[1, 104, 13.0],
[1, 105, 13.3],
[1, 106, 12.1],
[1, 107, 12.4],
[1, 108, 13.2],
[1, 109, 13.8],
[1, 110, 10.6],
[1, 111, 9.0],
[1, 112, 10.0],
[1, 113, 9.8],
[1, 114, 11.5],
[1, 115, 8.9],
[1, 116, 7.4],
[1, 117, 9.9],
[1, 118, 9.3],
[1, 119, 9.9],
[1, 120, 7.4],
[1, 121, 8.6],
[1, 122, 11.9],
[1, 123, 14.0],
[1, 124, 8.6],
[1, 125, 10.0],
[1, 126, 13.5],
[1, 127, 12.0],
[1, 128, 10.5],
[1, 129, 10.7],
[1, 130, 8.1],
[1, 131, 10.1],
[1, 132, 10.6],
[1, 133, 5.3],
[1, 134, 6.6],
[1, 135, 8.5],
[1, 136, 11.2],
[1, 137, 9.8],
[1, 138, 5.9],
[1, 139, 3.2],
[1, 140, 2.1],
[1, 141, 3.4],
[1, 142, 5.4],
[1, 143, 9.6],
[1, 144, 11.5],
[1, 145, 12.3],
[1, 146, 12.6],
[1, 147, 11.0],
[1, 148, 11.2],
[1, 149, 11.4],
[1, 150, 11.8],
[1, 151, 12.8],
[1, 152, 11.6],
[1, 153, 10.6],
[1, 154, 9.8],
[1, 155, 11.2],
[1, 156, 5.7],
[1, 157, 7.1],
[1, 158, 2.5],
[1, 159, 3.5],
[1, 160, 4.6],
[1, 161, 11.0],
[1, 162, 5.7],
[1, 163, 7.7],
[1, 164, 10.4],
[1, 165, 11.4],
[1, 166, 9.2],
[1, 167, 6.1],
[1, 168, 2.7],
[1, 169, 4.3],
[1, 170, 6.3],
[1, 171, 3.8],
[1, 172, 4.4],
[1, 173, 7.1],
[1, 174, 4.8],
[1, 175, 5.8],
[1, 176, 6.2],
[1, 177, 7.3],
[1, 178, 9.2],
[1, 179, 10.2],
[1, 180, 9.5],
[1, 181, 9.5],
[1, 182, 10.7],
[1, 183, 10.0],
[1, 184, 6.5],
[1, 185, 7.0],
[1, 186, 7.4],
[1, 187, 8.1],
[1, 188, 6.6],
[1, 189, 8.3],
[1, 190, 8.9],
[1, 191, 4.6],
[1, 192, 6.8],
[1, 193, 5.7],
[1, 194, 6.1],
[1, 195, 7.0],
[1, 196, 7.2],
[1, 197, 6.3],
[1, 198, 8.8],
[1, 199, 5.0],
[1, 200, 7.4],
[1, 201, 10.1],
[1, 202, 12.0],
[1, 203, 9.0],
[1, 204, 8.9],
[1, 205, 9.8],
[1, 206, 9.0],
[1, 207, 9.2],
[1, 208, 7.7],
[1, 209, 8.0],
[1, 210, 6.1],
[1, 211, 3.5],
[1, 212, 3.2],
[1, 213, 5.7],
[1, 214, 7.7],
[1, 215, 9.0],
[1, 216, 10.0],
[1, 217, 6.2],
[1, 218, 6.9],
[1, 219, 6.5],
[1, 220, 6.8],
[1, 221, 7.0],
[1, 222, 5.2],
[1, 223, 3.0],
[1, 224, 5.6],
[1, 225, 7.9],
[1, 226, 9.0],
[1, 227, 8.6],
[1, 228, 10.3],
[1, 229, 10.5],
[1, 230, 7.6],
[1, 231, 9.7],
[1, 232, 12.5],
[1, 233, 7.4],
[1, 234, 7.9],
[1, 235, 3.9],
[1, 236, 6.6],
[1, 237, 4.6],
[1, 238, 7.0],
[1, 239, 6.0],
[1, 240, 5.5],
[1, 241, 8.1],
[1, 242, 5.5],
[1, 243, 6.2],
[1, 244, 8.0],
[1, 245, 10.3],
[1, 246, 9.8],
[1, 247, 9.6],
[1, 248, 8.5],
[1, 249, 7.5],
[1, 250, 11.2],
[1, 251, 14.6],
[1, 252, 11.7],
[1, 253, 7.8],
[1, 254, 12.3],
[1, 255, 10.1],
[1, 256, 11.5],
[1, 257, 7.3],
[1, 258, 10.9],
[1, 259, 14.1],
[1, 260, 10.7],
[1, 261, 16.9],
[1, 262, 10.5],
[1, 263, 6.5],
[1, 264, 11.0],
[1, 265, 6.3],
[1, 266, 10.5],
[1, 267, 7.2],
[1, 268, 7.6],
[1, 269, 10.7],
[1, 270, 7.8],
[1, 271, 9.6],
[1, 272, 11.4],
[1, 273, 12.4],
[1, 274, 8.9],
[1, 275, 13.2],
[1, 276, 8.6],
[1, 277, 6.2],
[1, 278, 11.4],
[1, 279, 13.2],
[1, 280, 14.3],
[1, 281, 7.3],
[1, 282, 12.9],
[1, 283, 7.8],
[1, 284, 6.2],
[1, 285, 5.6],
[1, 286, 10.0],
[1, 287, 13.3],
[1, 288, 8.3],
[1, 289, 10.2],
[1, 290, 8.6],
[1, 291, 7.3],
[1, 292, 10.4],
[1, 293, 11.2],
[1, 294, 13.2],
[1, 295, 11.4],
[1, 296, 9.1],
[1, 297, 6.6],
[1, 298, 8.4],
[1, 299, 9.7],
[1, 300, 13.2],
[1, 301, 12.5],
[1, 302, 11.0],
[1, 303, 11.0],
[1, 304, 11.7],
[1, 305, 9.2],
[1, 306, 11.5],
[1, 307, 13.6],
[1, 308, 13.7],
[1, 309, 10.4],
[1, 310, 11.5],
[1, 311, 7.6],
[1, 312, 9.6],
[1, 313, 14.2],
[1, 314, 15.7],
[1, 315, 10.5],
[1, 316, 10.5],
[1, 317, 9.7],
[1, 318, 9.5],
[1, 319, 11.3],
[1, 320, 8.9],
[1, 321, 9.4],
[1, 322, 11.9],
[1, 323, 11.7],
[1, 324, 13.4],
[1, 325, 12.6],
[1, 326, 10.1],
[1, 327, 15.8],
[1, 328, 13.6],
[1, 329, 11.9],
[1, 330, 9.9],
[1, 331, 12.6],
[1, 332, 17.8],
[1, 333, 15.0],
[1, 334, 13.6],
[1, 335, 13.4],
[1, 336, 10.5],
[1, 337, 14.2],
[1, 338, 11.5],
[1, 339, 13.0],
[1, 340, 15.0],
[1, 341, 14.7],
[1, 342, 12.6],
[1, 343, 12.5],
[1, 344, 13.5],
[1, 345, 14.8],
[1, 346, 17.2],
[1, 347, 9.7],
[1, 348, 12.1],
[1, 349, 12.8],
[1, 350, 11.2],
[1, 351, 16.4],
[1, 352, 15.6],
[1, 353, 13.3],
[1, 354, 11.0],
[1, 355, 11.1],
[1, 356, 15.0],
[1, 357, 12.8],
[1, 358, 15.0],
[1, 359, 14.2],
[1, 360, 14.0],
[1, 361, 15.5],
[1, 362, 13.3],
[1, 363, 15.6],
[1, 364, 15.2],
[1, 365, 17.4],
[2, 1, 17.0],
[2, 2, 15.0],
[2, 3, 13.5],
[2, 4, 15.2],
[2, 5, 13.0],
[2, 6, 12.5],
[2, 7, 14.1],
[2, 8, 14.8],
[2, 9, 16.2],
[2, 10, 15.8],
[2, 11, 19.1],
[2, 12, 22.2],
[2, 13, 15.9],
[2, 14, 13.0],
[2, 15, 14.1],
[2, 16, 15.8],
[2, 17, 24.0],
[2, 18, 18.0],
[2, 19, 19.7],
[2, 20, 25.2],
[2, 21, 20.5],
[2, 22, 19.3],
[2, 23, 15.8],
[2, 24, 17.0],
[2, 25, 18.4],
[2, 26, 13.3],
[2, 27, 14.6],
[2, 28, 12.5],
[2, 29, 17.0],
[2, 30, 17.1],
[2, 31, 14.0],
[2, 32, 14.6],
[2, 33, 13.3],
[2, 34, 14.8],
[2, 35, 15.1],
[2, 36, 13.1],
[2, 37, 13.6],
[2, 38, 19.5],
[2, 39, 22.7],
[2, 40, 17.2],
[2, 41, 13.5],
[2, 42, 15.4],
[2, 43, 17.0],
[2, 44, 19.2],
[2, 45, 22.8],
[2, 46, 26.3],
[2, 47, 18.2],
[2, 48, 17.0],
[2, 49, 14.8],
[2, 50, 12.8],
[2, 51, 15.5],
[2, 52, 15.6],
[2, 53, 13.1],
[2, 54, 15.2],
[2, 55, 14.1],
[2, 56, 12.5],
[2, 57, 14.6],
[2, 58, 10.4],
[2, 59, 13.9],
[2, 60, 11.9],
[2, 61, 13.5],
[2, 62, 9.8],
[2, 63, 14.0],
[2, 64, 21.5],
[2, 65, 19.5],
[2, 66, 16.7],
[2, 67, 19.1],
[2, 68, 11.0],
[2, 69, 9.0],
[2, 70, 10.0],
[2, 71, 14.6],
[2, 72, 12.5],
[2, 73, 17.2],
[2, 74, 19.2],
[2, 75, 22.2],
[2, 76, 15.7],
[2, 77, 14.2],
[2, 78, 9.8],
[2, 79, 14.0],
[2, 80, 17.5],
[2, 81, 20.7],
[2, 82, 15.6],
[2, 83, 13.2],
[2, 84, 14.5],
[2, 85, 16.8],
[2, 86, 17.2],
[2, 87, 13.4],
[2, 88, 14.2],
[2, 89, 14.3],
[2, 90, 10.2],
[2, 91, 10.4],
[2, 92, 12.3],
[2, 93, 11.9],
[2, 94, 11.2],
[2, 95, 8.5],
[2, 96, 12.0],
[2, 97, 12.4],
[2, 98, 12.9],
[2, 99, 10.1],
[2, 100, 15.0],
[2, 101, 13.6],
[2, 102, 12.4],
[2, 103, 13.6],
[2, 104, 16.1],
[2, 105, 19.5],
[2, 106, 14.2],
[2, 107, 9.3],
[2, 108, 10.1],
[2, 109, 7.4],
[2, 110, 8.6],
[2, 111, 7.8],
[2, 112, 9.1],
[2, 113, 13.0],
[2, 114, 16.5],
[2, 115, 12.9],
[2, 116, 6.9],
[2, 117, 6.9],
[2, 118, 8.7],
[2, 119, 10.0],
[2, 120, 10.8],
[2, 121, 7.5],
[2, 122, 6.3],
[2, 123, 11.9],
[2, 124, 13.8],
[2, 125, 11.8],
[2, 126, 11.0],
[2, 127, 10.1],
[2, 128, 8.5],
[2, 129, 5.5],
[2, 130, 7.6],
[2, 131, 8.7],
[2, 132, 10.8],
[2, 133, 11.2],
[2, 134, 9.1],
[2, 135, 3.7],
[2, 136, 4.6],
[2, 137, 6.6],
[2, 138, 13.2],
[2, 139, 15.2],
[2, 140, 7.6],
[2, 141, 8.4],
[2, 142, 6.0],
[2, 143, 8.3],
[2, 144, 8.6],
[2, 145, 11.1],
[2, 146, 12.1],
[2, 147, 12.9],
[2, 148, 14.0],
[2, 149, 12.5],
[2, 150, 11.5],
[2, 151, 7.0],
[2, 152, 7.1],
[2, 153, 9.0],
[2, 154, 3.1],
[2, 155, 2.5],
[2, 156, 0.0],
[2, 157, 1.6],
[2, 158, 2.6],
[2, 159, 5.7],
[2, 160, 2.3],
[2, 161, 4.5],
[2, 162, 8.2],
[2, 163, 6.9],
[2, 164, 7.3],
[2, 165, 6.0],
[2, 166, 7.3],
[2, 167, 7.6],
[2, 168, 8.0],
[2, 169, 8.0],
[2, 170, 6.8],
[2, 171, 7.3],
[2, 172, 6.2],
[2, 173, 6.9],
[2, 174, 8.9],
[2, 175, 4.0],
[2, 176, 1.3],
[2, 177, 0.8],
[2, 178, 4.3],
[2, 179, 7.3],
[2, 180, 7.7],
[2, 181, 9.0],
[2, 182, 4.2],
[2, 183, 1.6],
[2, 184, 2.6],
[2, 185, 3.4],
[2, 186, 3.9],
[2, 187, 7.0],
[2, 188, 7.8],
[2, 189, 5.3],
[2, 190, 2.4],
[2, 191, 2.8],
[2, 192, 4.0],
[2, 193, 7.5],
[2, 194, 7.8],
[2, 195, 5.6],
[2, 196, 3.3],
[2, 197, 5.0],
[2, 198, 3.7],
[2, 199, 3.9],
[2, 200, 5.2],
[2, 201, 0.2],
[2, 202, 0.8],
[2, 203, 0.9],
[2, 204, 3.5],
[2, 205, 6.6],
[2, 206, 9.5],
[2, 207, 9.0],
[2, 208, 3.5],
[2, 209, 4.5],
[2, 210, 5.7],
[2, 211, 5.6],
[2, 212, 7.1],
[2, 213, 9.7],
[2, 214, 8.3],
[2, 215, 9.1],
[2, 216, 2.8],
[2, 217, 2.2],
[2, 218, 4.5],
[2, 219, 3.8],
[2, 220, 3.8],
[2, 221, 6.2],
[2, 222, 11.5],
[2, 223, 10.2],
[2, 224, 7.9],
[2, 225, 9.0],
[2, 226, 9.5],
[2, 227, 6.0],
[2, 228, 8.2],
[2, 229, 9.2],
[2, 230, 4.3],
[2, 231, 6.6],
[2, 232, 9.4],
[2, 233, 13.2],
[2, 234, 6.6],
[2, 235, 5.1],
[2, 236, 12.1],
[2, 237, 11.2],
[2, 238, 8.5],
[2, 239, 4.6],
[2, 240, 7.0],
[2, 241, 14.2],
[2, 242, 12.7],
[2, 243, 7.6],
[2, 244, 4.0],
[2, 245, 10.0],
[2, 246, 10.5],
[2, 247, 5.0],
[2, 248, 4.5],
[2, 249, 8.2],
[2, 250, 4.3],
[2, 251, 9.8],
[2, 252, 5.8],
[2, 253, 5.0],
[2, 254, 8.5],
[2, 255, 9.0],
[2, 256, 3.6],
[2, 257, 6.7],
[2, 258, 6.7],
[2, 259, 10.1],
[2, 260, 15.0],
[2, 261, 8.9],
[2, 262, 5.7],
[2, 263, 4.2],
[2, 264, 4.0],
[2, 265, 5.3],
[2, 266, 6.3],
[2, 267, 8.5],
[2, 268, 11.5],
[2, 269, 7.7],
[2, 270, 9.2],
[2, 271, 7.8],
[2, 272, 6.3],
[2, 273, 6.3],
[2, 274, 8.6],
[2, 275, 6.1],
[2, 276, 13.2],
[2, 277, 9.9],
[2, 278, 4.7],
[2, 279, 5.8],
[2, 280, 14.9],
[2, 281, 10.7],
[2, 282, 8.6],
[2, 283, 9.4],
[2, 284, 5.7],
[2, 285, 10.9],
[2, 286, 13.1],
[2, 287, 10.4],
[2, 288, 8.2],
[2, 289, 9.8],
[2, 290, 7.5],
[2, 291, 5.8],
[2, 292, 9.8],
[2, 293, 7.9],
[2, 294, 8.7],
[2, 295, 10.0],
[2, 296, 10.6],
[2, 297, 8.0],
[2, 298, 10.2],
[2, 299, 15.1],
[2, 300, 13.9],
[2, 301, 9.2],
[2, 302, 9.0],
[2, 303, 13.2],
[2, 304, 7.0],
[2, 305, 10.6],
[2, 306, 6.9],
[2, 307, 9.5],
[2, 308, 12.5],
[2, 309, 13.6],
[2, 310, 17.7],
[2, 311, 16.0],
[2, 312, 11.3],
[2, 313, 10.5],
[2, 314, 14.4],
[2, 315, 10.3],
[2, 316, 9.0],
[2, 317, 11.1],
[2, 318, 14.5],
[2, 319, 18.0],
[2, 320, 12.8],
[2, 321, 10.7],
[2, 322, 9.1],
[2, 323, 8.7],
[2, 324, 12.4],
[2, 325, 12.6],
[2, 326, 10.3],
[2, 327, 13.7],
[2, 328, 16.0],
[2, 329, 15.8],
[2, 330, 12.1],
[2, 331, 12.5],
[2, 332, 12.2],
[2, 333, 13.7],
[2, 334, 16.1],
[2, 335, 15.5],
[2, 336, 10.3],
[2, 337, 10.5],
[2, 338, 11.0],
[2, 339, 11.9],
[2, 340, 13.0],
[2, 341, 12.2],
[2, 342, 10.6],
[2, 343, 13.0],
[2, 344, 13.0],
[2, 345, 12.2],
[2, 346, 12.6],
[2, 347, 18.7],
[2, 348, 15.2],
[2, 349, 15.3],
[2, 350, 13.9],
[2, 351, 15.8],
[2, 352, 13.0],
[2, 353, 13.0],
[2, 354, 13.7],
[2, 355, 12.0],
[2, 356, 10.8],
[2, 357, 15.6],
[2, 358, 15.3],
[2, 359, 13.9],
[2, 360, 13.0],
[2, 361, 15.3],
[2, 362, 16.3],
[2, 363, 15.8],
[2, 364, 17.7],
[2, 365, 16.3],
[3, 1, 18.4],
[3, 2, 15.0],
[3, 3, 10.9],
[3, 4, 11.4],
[3, 5, 14.8],
[3, 6, 12.1],
[3, 7, 12.8],
[3, 8, 16.2],
[3, 9, 15.5],
[3, 10, 13.0],
[3, 11, 10.5],
[3, 12, 9.1],
[3, 13, 10.5],
[3, 14, 11.8],
[3, 15, 12.7],
[3, 16, 12.7],
[3, 17, 11.5],
[3, 18, 13.8],
[3, 19, 13.3],
[3, 20, 11.6],
[3, 21, 15.4],
[3, 22, 12.4],
[3, 23, 16.9],
[3, 24, 14.7],
[3, 25, 10.6],
[3, 26, 15.6],
[3, 27, 10.7],
[3, 28, 12.6],
[3, 29, 13.8],
[3, 30, 14.3],
[3, 31, 14.0],
[3, 32, 18.1],
[3, 33, 17.3],
[3, 34, 13.0],
[3, 35, 16.0],
[3, 36, 14.9],
[3, 37, 16.2],
[3, 38, 20.3],
[3, 39, 22.5],
[3, 40, 17.2],
[3, 41, 15.9],
[3, 42, 16.8],
[3, 43, 13.8],
[3, 44, 12.8],
[3, 45, 14.0],
[3, 46, 17.5],
[3, 47, 21.5],
[3, 48, 16.8],
[3, 49, 13.6],
[3, 50, 14.5],
[3, 51, 14.2],
[3, 52, 15.7],
[3, 53, 19.7],
[3, 54, 17.4],
[3, 55, 14.4],
[3, 56, 16.9],
[3, 57, 19.1],
[3, 58, 20.4],
[3, 59, 20.1],
[3, 60, 19.9],
[3, 61, 22.0],
[3, 62, 20.5],
[3, 63, 22.1],
[3, 64, 20.6],
[3, 65, 15.0],
[3, 66, 20.6],
[3, 67, 21.5],
[3, 68, 16.2],
[3, 69, 14.1],
[3, 70, 14.5],
[3, 71, 21.1],
[3, 72, 15.9],
[3, 73, 15.2],
[3, 74, 13.1],
[3, 75, 13.2],
[3, 76, 12.5],
[3, 77, 15.2],
[3, 78, 17.6],
[3, 79, 15.5],
[3, 80, 16.7],
[3, 81, 16.3],
[3, 82, 15.1],
[3, 83, 12.7],
[3, 84, 10.0],
[3, 85, 11.4],
[3, 86, 12.6],
[3, 87, 10.7],
[3, 88, 10.0],
[3, 89, 13.9],
[3, 90, 13.4],
[3, 91, 12.5],
[3, 92, 12.8],
[3, 93, 7.8],
[3, 94, 11.1],
[3, 95, 10.7],
[3, 96, 7.1],
[3, 97, 6.7],
[3, 98, 5.7],
[3, 99, 9.1],
[3, 100, 15.2],
[3, 101, 15.5],
[3, 102, 11.1],
[3, 103, 11.7],
[3, 104, 11.5],
[3, 105, 9.8],
[3, 106, 6.2],
[3, 107, 6.7],
[3, 108, 7.5],
[3, 109, 8.8],
[3, 110, 8.0],
[3, 111, 10.4],
[3, 112, 14.5],
[3, 113, 16.5],
[3, 114, 14.1],
[3, 115, 10.5],
[3, 116, 12.6],
[3, 117, 13.0],
[3, 118, 8.7],
[3, 119, 10.1],
[3, 120, 12.0],
[3, 121, 12.5],
[3, 122, 13.5],
[3, 123, 13.7],
[3, 124, 13.5],
[3, 125, 10.7],
[3, 126, 13.0],
[3, 127, 11.6],
[3, 128, 13.0],
[3, 129, 11.2],
[3, 130, 13.5],
[3, 131, 12.9],
[3, 132, 6.8],
[3, 133, 10.0],
[3, 134, 14.5],
[3, 135, 11.7],
[3, 136, 6.7],
[3, 137, 4.6],
[3, 138, 4.9],
[3, 139, 7.4],
[3, 140, 8.3],
[3, 141, 7.5],
[3, 142, 6.2],
[3, 143, 7.8],
[3, 144, 13.2],
[3, 145, 11.9],
[3, 146, 6.5],
[3, 147, 8.3],
[3, 148, 12.1],
[3, 149, 9.3],
[3, 150, 7.5],
[3, 151, 9.3],
[3, 152, 11.0],
[3, 153, 10.8],
[3, 154, 5.3],
[3, 155, 7.6],
[3, 156, 5.6],
[3, 157, 7.2],
[3, 158, 9.6],
[3, 159, 7.0],
[3, 160, 8.3],
[3, 161, 7.8],
[3, 162, 4.7],
[3, 163, 6.8],
[3, 164, 7.2],
[3, 165, 8.3],
[3, 166, 9.5],
[3, 167, 4.7],
[3, 168, 3.0],
[3, 169, 1.5],
[3, 170, 2.5],
[3, 171, 6.2],
[3, 172, 11.6],
[3, 173, 6.6],
[3, 174, 6.6],
[3, 175, 8.0],
[3, 176, 7.9],
[3, 177, 3.3],
[3, 178, 3.9],
[3, 179, 6.0],
[3, 180, 4.0],
[3, 181, 5.5],
[3, 182, 8.5],
[3, 183, 9.8],
[3, 184, 9.5],
[3, 185, 7.2],
[3, 186, 8.1],
[3, 187, 8.0],
[3, 188, 8.5],
[3, 189, 8.8],
[3, 190, 8.3],
[3, 191, 2.4],
[3, 192, 4.9],
[3, 193, 5.9],
[3, 194, 6.7],
[3, 195, 8.4],
[3, 196, 6.5],
[3, 197, 7.9],
[3, 198, 4.1],
[3, 199, 5.4],
[3, 200, 7.5],
[3, 201, 3.9],
[3, 202, 2.5],
[3, 203, 5.3],
[3, 204, 6.6],
[3, 205, 0.0],
[3, 206, 0.7],
[3, 207, 7.6],
[3, 208, 12.3],
[3, 209, 9.2],
[3, 210, 9.6],
[3, 211, 9.5],
[3, 212, 10.0],
[3, 213, 7.7],
[3, 214, 8.0],
[3, 215, 8.3],
[3, 216, 8.3],
[3, 217, 4.5],
[3, 218, 6.5],
[3, 219, 9.4],
[3, 220, 9.4],
[3, 221, 10.5],
[3, 222, 10.7],
[3, 223, 9.9],
[3, 224, 7.6],
[3, 225, 5.8],
[3, 226, 8.5],
[3, 227, 13.8],
[3, 228, 14.3],
[3, 229, 8.3],
[3, 230, 5.3],
[3, 231, 3.0],
[3, 232, 5.2],
[3, 233, 10.3],
[3, 234, 11.1],
[3, 235, 10.5],
[3, 236, 9.0],
[3, 237, 13.0],
[3, 238, 6.4],
[3, 239, 8.4],
[3, 240, 6.7],
[3, 241, 8.3],
[3, 242, 11.2],
[3, 243, 10.0],
[3, 244, 10.1],
[3, 245, 10.6],
[3, 246, 10.9],
[3, 247, 5.7],
[3, 248, 9.5],
[3, 249, 10.4],
[3, 250, 11.1],
[3, 251, 12.2],
[3, 252, 10.6],
[3, 253, 8.8],
[3, 254, 9.2],
[3, 255, 5.5],
[3, 256, 7.1],
[3, 257, 6.5],
[3, 258, 4.3],
[3, 259, 5.0],
[3, 260, 11.2],
[3, 261, 7.5],
[3, 262, 12.0],
[3, 263, 13.6],
[3, 264, 8.3],
[3, 265, 8.5],
[3, 266, 12.9],
[3, 267, 7.7],
[3, 268, 7.6],
[3, 269, 3.5],
[3, 270, 10.4],
[3, 271, 15.4],
[3, 272, 10.6],
[3, 273, 9.6],
[3, 274, 9.3],
[3, 275, 13.9],
[3, 276, 7.7],
[3, 277, 9.5],
[3, 278, 7.6],
[3, 279, 6.9],
[3, 280, 6.8],
[3, 281, 5.8],
[3, 282, 6.0],
[3, 283, 8.3],
[3, 284, 9.1],
[3, 285, 12.5],
[3, 286, 13.2],
[3, 287, 16.2],
[3, 288, 12.5],
[3, 289, 11.8],
[3, 290, 10.6],
[3, 291, 10.0],
[3, 292, 12.2],
[3, 293, 8.9],
[3, 294, 10.3],
[3, 295, 7.5],
[3, 296, 11.6],
[3, 297, 12.6],
[3, 298, 12.9],
[3, 299, 11.7],
[3, 300, 14.0],
[3, 301, 12.3],
[3, 302, 9.0],
[3, 303, 9.2],
[3, 304, 9.8],
[3, 305, 11.8],
[3, 306, 10.6],
[3, 307, 12.6],
[3, 308, 11.0],
[3, 309, 8.2],
[3, 310, 7.5],
[3, 311, 13.6],
[3, 312, 14.8],
[3, 313, 10.9],
[3, 314, 7.7],
[3, 315, 10.2],
[3, 316, 10.8],
[3, 317, 10.8],
[3, 318, 12.5],
[3, 319, 13.2],
[3, 320, 8.7],
[3, 321, 5.7],
[3, 322, 9.8],
[3, 323, 7.3],
[3, 324, 10.8],
[3, 325, 10.0],
[3, 326, 16.2],
[3, 327, 15.0],
[3, 328, 14.5],
[3, 329, 15.9],
[3, 330, 14.9],
[3, 331, 14.2],
[3, 332, 15.8],
[3, 333, 17.2],
[3, 334, 17.6],
[3, 335, 12.1],
[3, 336, 11.4],
[3, 337, 13.0],
[3, 338, 13.2],
[3, 339, 12.0],
[3, 340, 15.3],
[3, 341, 12.7],
[3, 342, 12.1],
[3, 343, 13.8],
[3, 344, 10.9],
[3, 345, 12.0],
[3, 346, 16.5],
[3, 347, 15.0],
[3, 348, 11.2],
[3, 349, 13.9],
[3, 350, 15.0],
[3, 351, 14.8],
[3, 352, 15.0],
[3, 353, 13.3],
[3, 354, 20.4],
[3, 355, 18.0],
[3, 356, 12.2],
[3, 357, 16.7],
[3, 358, 13.8],
[3, 359, 17.5],
[3, 360, 15.0],
[3, 361, 13.9],
[3, 362, 11.1],
[3, 363, 16.1],
[3, 364, 20.4],
[3, 365, 18.0],
[4, 1, 19.5],
[4, 2, 17.1],
[4, 3, 17.1],
[4, 4, 12.0],
[4, 5, 11.0],
[4, 6, 16.3],
[4, 7, 16.1],
[4, 8, 13.0],
[4, 9, 13.4],
[4, 10, 15.2],
[4, 11, 12.5],
[4, 12, 14.3],
[4, 13, 16.5],
[4, 14, 18.6],
[4, 15, 18.0],
[4, 16, 18.2],
[4, 17, 11.4],
[4, 18, 11.9],
[4, 19, 12.2],
[4, 20, 14.8],
[4, 21, 13.1],
[4, 22, 12.7],
[4, 23, 10.5],
[4, 24, 13.8],
[4, 25, 18.8],
[4, 26, 13.9],
[4, 27, 11.2],
[4, 28, 10.6],
[4, 29, 14.7],
[4, 30, 13.1],
[4, 31, 12.1],
[4, 32, 14.7],
[4, 33, 11.1],
[4, 34, 13.0],
[4, 35, 15.6],
[4, 36, 14.2],
[4, 37, 15.5],
[4, 38, 18.0],
[4, 39, 15.0],
[4, 40, 15.9],
[4, 41, 15.5],
[4, 42, 15.8],
[4, 43, 16.6],
[4, 44, 13.6],
[4, 45, 13.8],
[4, 46, 14.6],
[4, 47, 15.6],
[4, 48, 16.6],
[4, 49, 14.3],
[4, 50, 16.3],
[4, 51, 18.9],
[4, 52, 18.7],
[4, 53, 14.5],
[4, 54, 16.5],
[4, 55, 14.1],
[4, 56, 13.5],
[4, 57, 11.7],
[4, 58, 15.1],
[4, 59, 11.2],
[4, 60, 12.6],
[4, 61, 8.8],
[4, 62, 10.5],
[4, 63, 12.1],
[4, 64, 14.5],
[4, 65, 19.5],
[4, 66, 14.0],
[4, 67, 13.8],
[4, 68, 10.5],
[4, 69, 13.8],
[4, 70, 11.4],
[4, 71, 15.6],
[4, 72, 11.1],
[4, 73, 12.1],
[4, 74, 14.2],
[4, 75, 10.9],
[4, 76, 14.2],
[4, 77, 13.8],
[4, 78, 15.1],
[4, 79, 14.0],
[4, 80, 12.1],
[4, 81, 13.8],
[4, 82, 16.6],
[4, 83, 17.8],
[4, 84, 9.4],
[4, 85, 10.2],
[4, 86, 7.4],
[4, 87, 8.7],
[4, 88, 14.0],
[4, 89, 15.3],
[4, 90, 11.1],
[4, 91, 9.7],
[4, 92, 10.3],
[4, 93, 9.2],
[4, 94, 8.2],
[4, 95, 9.7],
[4, 96, 12.4],
[4, 97, 12.5],
[4, 98, 9.0],
[4, 99, 9.7],
[4, 100, 10.1],
[4, 101, 11.2],
[4, 102, 12.0],
[4, 103, 11.1],
[4, 104, 10.8],
[4, 105, 12.8],
[4, 106, 9.8],
[4, 107, 13.7],
[4, 108, 11.0],
[4, 109, 13.2],
[4, 110, 13.0],
[4, 111, 10.2],
[4, 112, 13.2],
[4, 113, 9.3],
[4, 114, 11.1],
[4, 115, 10.3],
[4, 116, 8.7],
[4, 117, 11.7],
[4, 118, 12.5],
[4, 119, 6.5],
[4, 120, 9.6],
[4, 121, 13.8],
[4, 122, 14.7],
[4, 123, 9.1],
[4, 124, 4.8],
[4, 125, 3.3],
[4, 126, 3.5],
[4, 127, 5.7],
[4, 128, 5.5],
[4, 129, 7.0],
[4, 130, 9.5],
[4, 131, 9.9],
[4, 132, 4.9],
[4, 133, 6.3],
[4, 134, 4.8],
[4, 135, 6.2],
[4, 136, 7.1],
[4, 137, 7.5],
[4, 138, 9.4],
[4, 139, 8.7],
[4, 140, 9.5],
[4, 141, 12.1],
[4, 142, 9.5],
[4, 143, 9.3],
[4, 144, 8.5],
[4, 145, 8.0],
[4, 146, 9.8],
[4, 147, 6.2],
[4, 148, 7.3],
[4, 149, 10.9],
[4, 150, 10.0],
[4, 151, 8.7],
[4, 152, 9.0],
[4, 153, 10.8],
[4, 154, 12.4],
[4, 155, 7.2],
[4, 156, 7.2],
[4, 157, 11.1],
[4, 158, 9.3],
[4, 159, 10.1],
[4, 160, 3.9],
[4, 161, 5.0],
[4, 162, 8.2],
[4, 163, 2.8],
[4, 164, 4.3],
[4, 165, 8.1],
[4, 166, 11.1],
[4, 167, 4.7],
[4, 168, 5.3],
[4, 169, 10.0],
[4, 170, 5.6],
[4, 171, 2.2],
[4, 172, 7.1],
[4, 173, 8.3],
[4, 174, 8.6],
[4, 175, 10.1],
[4, 176, 8.3],
[4, 177, 7.2],
[4, 178, 7.7],
[4, 179, 7.8],
[4, 180, 9.1],
[4, 181, 9.4],
[4, 182, 7.8],
[4, 183, 2.6],
[4, 184, 2.4],
[4, 185, 3.9],
[4, 186, 1.3],
[4, 187, 2.1],
[4, 188, 7.4],
[4, 189, 7.2],
[4, 190, 8.8],
[4, 191, 8.9],
[4, 192, 8.8],
[4, 193, 8.0],
[4, 194, 0.7],
[4, 195, 0.1],
[4, 196, 0.9],
[4, 197, 7.8],
[4, 198, 7.2],
[4, 199, 8.0],
[4, 200, 4.6],
[4, 201, 5.2],
[4, 202, 5.8],
[4, 203, 6.8],
[4, 204, 8.1],
[4, 205, 7.5],
[4, 206, 5.4],
[4, 207, 4.6],
[4, 208, 6.4],
[4, 209, 9.7],
[4, 210, 7.0],
[4, 211, 10.0],
[4, 212, 10.6],
[4, 213, 11.5],
[4, 214, 10.2],
[4, 215, 11.1],

In [25]:
## Experiment 3
# Load dataset
Data = pd.read_excel("CityData.xlsx")
# Tranverse the dates to datetime style
Data["updateTime"] = pd.to_datetime(Data["updateTime"])
Data["updateTime"] = Data["updateTime"].dt.strftime("%Y-%m-%d")
print(Data.head())

  countryName provinceName cityName  city_confirmedCount  city_suspectedCount  \
0                                           231                    8
1                                            52                    0
2                                             47                    0
3                                             46                    0
4                                           43                    0

   city_curedCount  city_deadCount  updateTime
0              195               4  2020-04-18
1               49               3  2020-04-18
2               43               4  2020-04-18
3               46               0  2020-04-18
4               42               1  2020-04-18

In [36]:
# Produce daily data
def SelectData(Day):
   # Select the needed data 
   DailyData = Data.loc[Data["updateTime"] == Day, :]
   for i in Data["provinceName"].unique():
      ConfirmD = DailyData.loc[DailyData["provinceName"] == i, "city_confirmedCount"].sum()
      print("\t\t\t\t{'name': '%s', 'value': %d}," % (i, ConfirmD))

In [19]:
# For task 1 we select the data until to "2020-04-01"
Task1_Day = "2020-04-01"
SelectData(Task1_Day)

{'name': '', 'value': 0},
{'name': '', 'value': 137},
{'name': '', 'value': 130},
{'name': '', 'value': 228},
{'name': '', 'value': 67802},
{'name': '', 'value': 391},
{'name': '', 'value': 0},
{'name': '', 'value': 75},
{'name': '', 'value': 318},
{'name': '', 'value': 0},
{'name': '', 'value': 245},
{'name': '', 'value': 296},
{'name': '', 'value': 1501},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 133},
{'name': '', 'value': 174},
{'name': '', 'value': 92},
{'name': '', 'value': 552},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 0},
{'name': '', 'value': 0},

In [41]:
# For task 2
# Select the needed data
Date = []
for day in Data["updateTime"].unique():
    Date.append(day)
    print("{")
    print("\t\ttitle: '{}',".format(day))
    print("\t\tseries: [{\n\t\t\tdata:\n\t\t\t[")
    SelectData(day)
    print("\t\t]\n\t}]\n},")


for i, day in enumerate(Date):
    print("'{}'".format(day), end=",")
    if (i+1) % 20 == 0:
        print()

{
		title: '2020-04-18',
		series: [{
			data:
			[
				{'name': '', 'value': 515},
				{'name': '', 'value': 125},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-17',
		series: [{
			data:
			[
				{'name': '', 'value': 508},
				{'name': '', 'value': 125},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 68128},
				{'name': '', 'value': 394},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 318},
				{'name': '', 'value': 631},
				{'name': '', 'value': 245},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1577},
				{'name': '', 'value': 763},
				{'name': '', 'value': 102},
				{'name': '', 'value': 133},
				{'name': '', 'value': 174},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-16',
		series: [{
			data:
			[
				{'name': '', 'value': 505},
				{'name': '', 'value': 124},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 394},
				{'name': '', 'value': 0},
				{'name': '', 'value': 75},
				{'name': '', 'value': 318},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1571},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 133},
				{'name': '', 'value': 0},
				{'name': '', 'value': 91},
				{'name': '', 'value': 560},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-15',
		series: [{
			data:
			[
				{'name': '', 'value': 501},
				{'name': '', 'value': 0},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 0},
				{'name': '', 'value': 631},
				{'name': '', 'value': 245},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1566},
				{'name': '', 'value': 761},
				{'name': '', 'value': 102},
				{'name': '', 'value': 133},
				{'name': '', 'value': 174},
				{'name': '', 'value': 0},
				{'name': '', 'value': 560},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-14',
		series: [{
			data:
			[
				{'name': '', 'value': 493},
				{'name': '', 'value': 124},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 318},
				{'name': '', 'value': 631},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1564},
				{'name': '', 'value': 761},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 174},
				{'name': '', 'value': 91},
				{'name': '', 'value': 0},
				{'name': '', 'value': 1273},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-13',
		series: [{
			data:
			[
				{'name': '', 'value': 493},
				{'name': '', 'value': 0},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1555},
				{'name': '', 'value': 761},
				{'name': '', 'value': 100},
				{'name': '', 'value': 133},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 560},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-12',
		series: [{
			data:
			[
				{'name': '', 'value': 486},
				{'name': '', 'value': 145},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 0},
				{'name': '', 'value': 631},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1552},
				{'name': '', 'value': 0},
				{'name': '', 'value': 99},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 1273},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-11',
		series: [{
			data:
			[
				{'name': '', 'value': 484},
				{'name': '', 'value': 145},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 0},
				{'name': '', 'value': 631},
				{'name': '', 'value': 245},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1548},
				{'name': '', 'value': 761},
				{'name': '', 'value': 98},
				{'name': '', 'value': 133},
				{'name': '', 'value': 174},
				{'name': '', 'value': 0},
				{'name': '', 'value': 560},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-10',
		series: [{
			data:
			[
				{'name': '', 'value': 483},
				{'name': '', 'value': 0},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 0},
				{'name': '', 'value': 75},
				{'name': '', 'value': 0},
				{'name': '', 'value': 631},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1544},
				{'name': '', 'value': 0},
				{'name': '', 'value': 98},
				{'name': '', 'value': 133},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 560},
				{'name': '', 'value': 0},
				{'name': '', 'value': 935},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-09',
		series: [{
			data:
			[
				{'name': '', 'value': 482},
				{'name': '', 'value': 144},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 318},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 1539},
				{'name': '', 'value': 759},
				{'name': '', 'value': 0},
				{'name': '', 'value': 133},
				{'name': '', 'value': 0},
				{'name': '', 'value': 91},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 991},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-08',
		series: [{
			data:
			[
				{'name': '', 'value': 482},
				{'name': '', 'value': 144},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1536},
				{'name': '', 'value': 759},
				{'name': '', 'value': 98},
				{'name': '', 'value': 133},
				{'name': '', 'value': 0},
				{'name': '', 'value': 91},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-07',
		series: [{
			data:
			[
				{'name': '', 'value': 482},
				{'name': '', 'value': 144},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 318},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1533},
				{'name': '', 'value': 759},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 174},
				{'name': '', 'value': 0},
				{'name': '', 'value': 560},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-06',
		series: [{
			data:
			[
				{'name': '', 'value': 482},
				{'name': '', 'value': 142},
				{'name': '', 'value': 0},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 245},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1532},
				{'name': '', 'value': 759},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 91},
				{'name': '', 'value': 559},
				{'name': '', 'value': 1273},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-05',
		series: [{
			data:
			[
				{'name': '', 'value': 482},
				{'name': '', 'value': 142},
				{'name': '', 'value': 0},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 0},
				{'name': '', 'value': 318},
				{'name': '', 'value': 631},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1524},
				{'name': '', 'value': 759},
				{'name': '', 'value': 0},
				{'name': '', 'value': 133},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 558},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-04',
		series: [{
			data:
			[
				{'name': '', 'value': 482},
				{'name': '', 'value': 141},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67803},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 245},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1516},
				{'name': '', 'value': 759},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 91},
				{'name': '', 'value': 557},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-03',
		series: [{
			data:
			[
				{'name': '', 'value': 482},
				{'name': '', 'value': 0},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67802},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 0},
				{'name': '', 'value': 318},
				{'name': '', 'value': 631},
				{'name': '', 'value': 245},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1514},
				{'name': '', 'value': 759},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 174},
				{'name': '', 'value': 0},
				{'name': '', 'value': 555},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-02',
		series: [{
			data:
			[
				{'name': '', 'value': 482},
				{'name': '', 'value': 141},
				{'name': '', 'value': 0},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67802},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 318},
				{'name': '', 'value': 631},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1507},
				{'name': '', 'value': 759},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 174},
				{'name': '', 'value': 0},
				{'name': '', 'value': 554},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 1018},
				{'name': '', 'value': 252},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-04-01',
		series: [{
			data:
			[
				{'name': '', 'value': 0},
				{'name': '', 'value': 137},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67802},
				{'name': '', 'value': 391},
				{'name': '', 'value': 0},
				{'name': '', 'value': 75},
				{'name': '', 'value': 318},
				{'name': '', 'value': 0},
				{'name': '', 'value': 245},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1501},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 133},
				{'name': '', 'value': 174},
				{'name': '', 'value': 92},
				{'name': '', 'value': 552},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-03-31',
		series: [{
			data:
			[
				{'name': '', 'value': 0},
				{'name': '', 'value': 137},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67801},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 0},
				{'name': '', 'value': 631},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1494},
				{'name': '', 'value': 759},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 174},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},
		]
	}]
},
{
		title: '2020-03-30',
		series: [{
			data:
			[
				{'name': '', 'value': 0},
				{'name': '', 'value': 134},
				{'name': '', 'value': 130},
				{'name': '', 'value': 228},
				{'name': '', 'value': 67801},
				{'name': '', 'value': 391},
				{'name': '', 'value': 1182},
				{'name': '', 'value': 75},
				{'name': '', 'value': 318},
				{'name': '', 'value': 631},
				{'name': '', 'value': 0},
				{'name': '', 'value': 296},
				{'name': '', 'value': 1484},
				{'name': '', 'value': 759},
				{'name': '', 'value': 0},
				{'name': '', 'value': 0},